* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    padding: 0px;
}    

body {
    background-color: #E1E2E2;
}
.Navbar {
    background-color: #1D2228;
    padding: 20px;
    color: #E1E2E2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 45px;
}

.Links {
    list-style: none;
    color: #E1E2E2;
    text-decoration: none;
    font-size: 16px;
}

.Links li {
    display: inline-block;
    padding: 0px 10px;
}

.Links li a {
    color: #E1E2E2;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Roboto';    
    transition: all 0.3s ease 0s;
}

.Links li a:hover {
    color: #FB8122
}

.Title {
    font-size: 35px;
}

.profile-info {
    display: grid;
    gap: 1rem;
    height: 90vh;
    margin: 10px;
    grid-template-columns: auto auto;
    grid-template-rows: 10% 20% 10% 65% 10% 65% 10% 75%;
    grid-template-areas:
        "submit submit"
        "profile profile"
        "logo logo"
        "recent recent"
        "pub-matches pub-matches"
        "pub1 pub2"
        "e-matches e-matches"
        "e1 e2"
        ;
}
.profile {
    display: grid;
    grid-area: profile; 
    border-radius: 10px;
    background-color: #1D2228;
    grid-template-columns: 20% 80%;
    grid-template-rows: 60% 40%;
    grid-template-areas:
        "img img"
        "rank name"
    ;
}

.User-Image {
    grid-area: img;
    height: 100%;
    margin-top: 30px;
    align-self: center;
    justify-self: center;
    border-radius: 50%;
    color: #FB8122;
    border-style: solid;
}

.Player-Name {
    grid-area: name;
    word-wrap: break-word;
    justify-self: start;
    align-self: center;
    padding: 10px;
    color: #FB8122;
    font-size: 20px;
    overflow: hidden;
}

.User-Badge { 
    grid-area: rank;
    height: 100%;
    padding: 20px;
    margin-left: 10px;
    justify-self: center;
}

.recent {
    display: grid;
    grid-area: recent;
    border-radius: 10px;
    background-color: #1D2228;
    overflow-y: scroll;
}

.submission {
    display: grid;
    grid-area: submit;
    align-items: center;
    justify-items: center;
    color: white;
    border-radius: 10px;
    background-color: #1D2228;
}

.public-matches {
    display: grid;
    grid-area: pub-matches;
    align-items: center;
    justify-items: center;
    color: white;
    border-radius: 10px;
    background-color: #1D2228;
}

.public-data1 {
    display: grid;
    grid-area: pub1;
    align-items: center;
    color: white;
    border-radius: 10px;
    background-color: #1D2228;
    overflow-y: scroll;
}
.public-data2 {
    display: grid;
    grid-area: pub2;
    align-items: center;
    color: white;
    border-radius: 10px;
    background-color: #1D2228;
    overflow-y: scroll;
}

.Loading {
    display: grid;
    color:#FB8122;
    font-size: 2vw;
    align-items: center;
    justify-items: center;
}

.Map {
    color:#FB8122;
    float: right;
}
.esports-matches {
    display: grid;
    grid-area: e-matches;
    align-items: center;
    justify-items: center;
    color: white;
    border-radius: 10px;
    background-color: #1D2228;
}

.esports-data1 {
    display: grid;
    grid-area: e1;
    align-items: center;
    color: white;
    border-radius: 10px;
    background-color: #1D2228;
    overflow-y: scroll;
}

.logo {
    display: grid;
    grid-area: logo;
    align-items: center;
    justify-items: center;
    color: white;
    border-radius: 10px;
    background-color: #1D2228;  
}
.esports-data2 {
    display: grid;
    grid-area: e2;
    align-items: center;
    color: white;
    border-radius: 10px;
    background-color: #1D2228;
    overflow-y: scroll;
}

.Match-sub, .Match-full {
    display: grid;
    color: white;
    padding: 0px;
    grid-template-columns: 20% 80%;
    grid-template-rows: 100%;
    grid-template-areas: 
        "hero-img hero-info"
        ;
}

.hero-img-full, .hero-img-sub {
    grid-area: hero-img;
    padding: 20px;
    width: 70px;
    justify-self: center;
    align-self: center;
}

.hero-info-full, .hero-info-sub1, .hero-info-sub2 {
    grid-area: hero-info;
    justify-self: start;
    padding: 5px;
    align-self: center;
    font-size: 0.95vw;
}

.pub1-title {
    color:#FB8122;
    font-size: 20px;
    padding: 20px;
    justify-self: center;
}
.pub2-title {
    color:#FB8122;
    font-size: 20px;
    padding: 20px;
    justify-self: center;
}

.Result1 {
    color: Green;
    float: left;
    padding-right: 10px;
}

.Result2 {
    color: Red;
    float: left;
    padding-right: 10px;
}

.recent-title {
    color:#FB8122;
    font-size: 20px;
    padding: 20px;
    justify-self: center;
}

.submission {
    grid-template-columns: 30% 40% 20%;
    grid-template-rows: auto;
    grid-template-areas:
        "description inputTest button"
    ;
    font-size: 1vh;
}

.Button {
    grid-area: button;
    background-color:#FB8122;
    color:#E1E2E2;
    width: 80%;
    height: 25px;
    align-self: center;
    justify-self: left;
}

.Button:Hover {
    cursor: pointer;
}

.sub-description {
    grid-area: description;
    color:#FB8122;
    font-size: 2vh;
}
.input2 {
    grid-area: inputTest;
    width: 90%;
    height: 25px;
    border-style: solid;
    border-color:#FB8122;
    border-width: 2px;
}

.input-here {
    grid-area: entry;
    width: 90%;
    height: 25px;
    border-style: solid;
    border-color:#FB8122;
    border-width: 2px;
}

.esports-title1 {
    color:#FB8122;
    font-size: 20px;
    padding: 20px;
    justify-self: center;
}
.esports-title2 {
    color:#FB8122;
    font-size: 20px;
    padding: 20px;
    justify-self: center;
}

.Submit {
    text-align: center;
    width: 150px;
    color:#E1E2E2;
    font-size: 20px;
    padding: 3px 10px;
    background-color: #FB8122;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
.Submit:hover {
    background-color:#E1E2E2;
    color:#FB8122;
    text-align: center;
}

@media(min-width: 1000px) {
    .profile-info {
        display: grid;
        gap: 1rem;
        height: 90vh;
        grid-template-columns: 20% 18% 20% 18% auto;
        grid-template-rows: 10% 13% 77%;
        grid-template-areas:
            "profile submit submit logo logo"
            "profile pub-matches pub-matches e-matches e-matches"
            "recent pub1 pub2 e1 e2"
    }
}

@media(max-width: 1000px) and (min-width: 400px) {
    .profile {
        display: grid;
        grid-area: profile; 
        border-radius: 10px;
        background-color: #1D2228;
        grid-template-columns: 30% 70%;
        grid-template-rows: 60% 40%;
        grid-template-areas:
            "img rank"
            "img name"
        ;
    }
    .submission {
        grid-template-columns: 75% auto;
        grid-template-rows: 50% 50%;
        grid-template-areas:
            "description description" 
            "inputTest button"
        ;
    }
    .input2 {
        width: 90%;
        height: 60%;
        font-size: 2vh;
        border-style: solid;
        border-color:#FB8122;
        border-width: 2px;
    }
    .Button {
        width: 90%;
        height: 60%;
        border-color:#FB8122
    }
    .sub-description {
        align-items: center;
        justify-items: center;
    }
    .pub1-title, .pub2-title, .esports-title1, .esports-title2 {
        color:#FB8122;
        font-size: 40px;
        padding: 20px;
        justify-self: center;
    }
    .recent-title{
        color:#FB8122;
        font-size: 50px;
        padding: 20px;
        justify-self: center; 
    }
    .User-Image {
        grid-area: img;
        height: 10vh;
        margin: 0px;
        border-radius: 50%;
        color: #FB8122;
        border-style: solid;
    }
    .Player-Name {
        grid-area: name;
        word-wrap: break-word;
        justify-self: center;
        align-self: center;
        padding: 10px;
        color: #FB8122;
        font-size: 5vh;
        overflow: hidden;
        margin-bottom: 5vh;
    }
    .User-Badge { 
        grid-area: rank;
        height: 100%;
        padding: 20px;
        justify-self: center;
        align-self: center;
    }
    .hero-info-full {
        grid-area: hero-info;
        justify-self: start;
        align-self: center;
        font-size: 2.8vw;
    }  
    .hero-info-sub2 {
        grid-area: hero-info;
        justify-self: start;
        align-self: center;
        font-size: 2vw;
    }
    .hero-info-sub1 {
        grid-area: hero-info;
        justify-self: start;
        align-self: center;
        font-size: 3vw;
    }
    .hero-img-full {
        grid-area: hero-img;
        padding: 20px;
        width: 60%;
        justify-self: center;
        align-self: center;
    }
    .Match-sub {
        background-color:#1D2228;
        display: grid;
        color: white;
        padding: 0px;
        margin: 0px;
        grid-template-columns: 20% 80%;
        grid-template-rows: 100%;
        grid-template-areas: 
            "hero-img hero-info"
            ;
    }
    .hero-img-sub {
        grid-area: hero-img;
        padding: 20px;
        width: 100%;
        justify-self: center;
        align-self: center;
    }
    .option {
        font-size: 3vw;
    }
    .Submit {
        text-align: center;
        width: 30vw;
        height: 50%;
        color:#E1E2E2;
        font-size: 3vh;
        padding: 3px 10px;
        background-color: #FB8122;
        border: none;
        border-radius: 50px;
        cursor: pointer;
        transition: all 0.3s ease 0s;
    }
}
